#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 10
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20

#define L_HAND_KEYS   \
     0  1  2  3  4    \
    10 11 12 13 14    \
    20 21 22 23 24 26 \
    33 34 35

#define L_THUMB_KEYS \
             36 37 38

#define R_HAND_KEYS \
                            5  6  7  8  9 \
                           15 16 17 18 19 \
                        27 28 29 30 31 32 \
                                 42 43 44

#define R_THUMB_KEYS \
                        39 40 41

/ {
    behaviors {
        hl: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <R_HAND_KEYS R_THUMB_KEYS>; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };

        hr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <L_HAND_KEYS L_THUMB_KEYS>; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };

        combo_esc {
            timeout-ms = <30>;
            bindings = <&kp ESC>;
            key-positions = <11 12>;
            layers = <0>;
        };

        combo_lang {
            timeout-ms = <30>;
            bindings = <&kp LC(SPACE)>;
            key-positions = <17 18>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none       &none       &none        &none       &none                                &none       &none       &none       &none       &none           &none
&none  &kp Q       &kp W       &kp E        &kp R       &kp T                                &kp Y       &kp U       &kp I       &kp O       &kp SQT         &none
&none  &hl LCTRL A &hl LALT S  &hl LSHFT D  &hl LGUI F  &kp G        &none        &none      &kp H       &hr RGUI J  &hr RSHFT K &hr RALT L  &hr RCTRL SEMI  &none
&none  &kp Z       &kp Z       &kp X        &kp C       &kp V        &kp SPACE    &kp RET    &kp B       &kp N       &kp M       &kp P       &mt RSHFT FSLH  &none
&none  &none       &none       &none        &kp LGUI    &lt 2 SPACE  &lt 3 TAB    &kp ENTER  &lt 1 BSPC  &kp DELETE  &trans      &kp COMMA   &kp DOT         &none
            >;
        };

        layer_1 {
            bindings = <
&none  &none  &none   &none   &none   &none                        &none  &none     &none      &none     &none      &none
&none  &none  &kp N7  &kp N8  &kp N9  &kp EQUAL                    &none  &none     &none      &none     &none      &none
&none  &none  &kp N4  &kp N5  &kp N6  &kp MINUS  &none      &none  &none  &kp RGUI  &kp RSHFT  &kp RALT  &kp RCTRL  &none
&none  &none  &kp N1  &kp N2  &kp N3  &kp GRAVE  &none      &none  &none  &none     &none      &none     &kp RSHFT  &none
&none  &none  &none   &none   &none   &kp N0     &kp TAB    &none  &none  &trans    &none      &none     &none      &none
            >;
        };

        layer_2 {
            bindings = <
&none  &none      &none     &none      &none     &none                           &none     &none      &none      &none      &none     &none
&none  &none      &none     &none      &none     &none                           &kp SQT   &kp DQT    &kp LBKT   &kp RBKT   &none     &none
&none  &kp LCTRL  &kp LALT  &kp LSHFT  &kp LGUI  &none   &none        &none      &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp SEMI  &none
&none  &kp LSHFT  &none     &none      &none     &none   &kp PG_DN    &kp PG_UP  &kp LBKT  &kp RBKT   &kp COMMA  &kp DOT    &kp FSLH  &none
&none  &none      &none     &none      &none     &trans  &none        &kp PIPE   &kp BSLH  &none      &none      &kp COMMA  &kp DOT   &none
            >;
        };

        layer_3 {
            bindings = <
&none  &none      &none     &none      &none     &none                     &none     &none      &none      &none      &none           &none
&none  &none      &none     &none      &none     &none                     &none     &none      &none      &none      &none           &none
&none  &kp LCTRL  &kp LALT  &kp LSHFT  &kp LGUI  &none   &none     &none   &none     &mkp LCLK  &mkp RCLK  &none      &msc SCRL_DOWN  &none
&none  &kp LSHFT  &none     &none      &none     &none   &none     &none   &none     &mkp LCLK  &mkp RCLK  &none      &msc SCRL_UP    &none
&none  &none      &none     &none      &none     &none   &trans    &none   &none     &none      &none      &none      &msc SCRL_DOWN  &none
            >;
        };
    };
};
